@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Poor+Story&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Poor Story", system-ui;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #171717;
}

/* container */
.container{
    position: relative;
    width: 1260px;
    height: 580px;

}

 .container .wrapper{
    width: 860px;
    height: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    background: #000;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.25), -10px -10px -25px rgba(0,0,0,0.25),;
    border-radius: 20px;
    
}

.container .circle{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff3700, #171717);
}
.circle:nth-child(1){
    left: 150px;
    bottom: 20px;

}
.circle:nth-child(2){
    right: 140px;
    top: 20px;

}

.header{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-bottom: 1px solid #fff;
    display: flex;
    color: #fff;

}
.header .logo{
    font-size:20px;
    font-weight: 600;
    margin-left: 60px;
    text-transform: uppercase;
    margin-right: 40px;
}
.header .logo img{
    width: 40px;
    height: 15px;
}
.header ul{
    display: flex;
    position: absolute;
    right: 40px;

}

.header ul li{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 7px 20px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
}
.header ul .btn{
    background-color: #d400ff;
    border-radius: 30px;
    
}

.section1{
     position: absolute;
     top: 150px;
     left: 70px;
     color: #fff;
     width: 330px;
     /* border: 2px solid red; */
}

.section1 h2{
    font-size: 35px;

}
.section1 span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px ;
}
.section1 p{
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #ffffffc8;
}

.collection{
    display: flex;
    width: 300px;
    height: 70px;
    margin-top: 15px;

}

.collection img{
    width: 90px;
    height: 80%;
    padding: 10px;
    cursor: pointer;
    /* rotate: -20deg; */
    transition: transfrom 0.3s ease-in-out;
}
.collection img:hover{
    transform: scale(1.1);
}
button{
    border: 0;
    outline:0;
    background: #ff0000;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 17px;
    margin-top: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
button:hover{
    background:#e50101;
}

.section2{
    position: absolute;
    top: 100px;
    right: 0;
    width: 400px;

}
.section2 .outer-circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgba(255, 0,0, 0.257);
}

.section2 .outer-circle .inner-circle{
    width:250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: px;
    background: linear-gradient(to bottom, red, #ffffff17);
}

.inner-circle img{
    width: 290px;
    height: 200px;
    rotate: -25deg;
    /* margin-left: -100px; */
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
.inner-circle img:hover{
    transform: scale(1.12);
    rotate: -34deg;
}